<a href="https://colab.research.google.com/github/boguslaw-major/Data-Science/blob/master/DataFrame1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
df=pd.DataFrame(data=[12,12,32], index=["First","Second","Third"], columns=["Kolumna1"])

df

        Kolumna1
First         12
Second        12
Third         32