<a href="https://colab.research.google.com/github/boguslaw-major/Data-Science/blob/master/Untitled56.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
pd.__version__

'1.0.5'

In [2]:
s=pd.Series(data=[3,2,4,6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [6]:
s=pd.Series(data=[3.,2,4,6], index=['a','b','c','d'], name="sampli")
s

a    3.0
b    2.0
c    4.0
d    6.0
Name: sampli, dtype: float64

In [7]:
import numpy as np

In [ ]:
np.nan

In [8]:
s=pd.Series(data=[3,np.nan,4,6])
s

0    3.0
1    NaN
2    4.0
3    6.0
dtype: float64

In [9]:
s=pd.Series(data=[True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [29]:
s=pd.Series(data=np.arange(10,20), index=pd.date_range(start='20200202', periods=10))
s
list(s.index)

[Timestamp('2020-02-02 00:00:00', freq='D'),
 Timestamp('2020-02-03 00:00:00', freq='D'),
 Timestamp('2020-02-04 00:00:00', freq='D'),
 Timestamp('2020-02-05 00:00:00', freq='D'),
 Timestamp('2020-02-06 00:00:00', freq='D'),
 Timestamp('2020-02-07 00:00:00', freq='D'),
 Timestamp('2020-02-08 00:00:00', freq='D'),
 Timestamp('2020-02-09 00:00:00', freq='D'),
 Timestamp('2020-02-10 00:00:00', freq='D'),
 Timestamp('2020-02-11 00:00:00', freq='D')]

In [27]:
s.dtype

dtype('O')

In [23]:
s=pd.Series(data=['python','java','sql'], name="languages")
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [18]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [24]:
s.values

array(['python', 'java', 'sql'], dtype=object)

In [25]:
s.dtype

dtype('O')

In [30]:
s.shape

(10,)

In [59]:
price=pd.Series(data={'Apple':200, 'CD Projekt':60, "Amazon":1900, "KGHM":np.nan})
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [32]:
price["CD Projekt"]

60

In [34]:
price[1]

60

In [43]:
price.count()

3

In [48]:
price.value_counts(dropna=False)

NaN       1
1900.0    1
60.0      1
200.0     1
dtype: int64

In [37]:
price.sum()

2160

In [38]:
price.min()

60

In [39]:
price.max()

1900

In [41]:
price.std()

1024.3046421841502

In [60]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [51]:
price.nlargest(2)

Amazon    1900.0
Apple      200.0
dtype: float64

In [52]:
price.nsmallest(2)

CD Projekt     60.0
Apple         200.0
dtype: float64

In [ ]:
price.rank()

In [57]:
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

In [66]:
price_pln=price.apply(lambda x: x*3.8)

In [67]:
price_pln

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

In [69]:
df=pd.DataFrame(data=[12,12,32])
df

    0
0  12
1  12
2  32

In [71]:
df=pd.DataFrame(data=[12,12,32], index=['first','second',"third"], columns=["col_1"])
df

        col_1
first      12
second     12
third      32

In [74]:
df=pd.DataFrame(data={'WIG20':["PKN ORLEN","PKO BP"],
                      'mWIG40':['Amica','Playway']})
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [99]:
df=pd.DataFrame(data=[[10,12,13],[23,12,10]], index=['first','second'], columns=['col_1','col_2',"col_3"])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [100]:
df.loc['first', 'col_2']

12

In [77]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [78]:
df.index

Index(['first', 'second'], dtype='object')

In [79]:
df.values

array([[10, 12, 13],
       [23, 12, 10]])

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 144.0+ bytes

In [82]:
df.describe().T

       count  mean       std   min    25%   50%    75%   max
col_1    2.0  16.5  9.192388  10.0  13.25  16.5  19.75  23.0
col_2    2.0  12.0  0.000000  12.0  12.00  12.0  12.00  12.0
col_3    2.0  11.5  2.121320  10.0  10.75  11.5  12.25  13.0

In [96]:
df

         a   b   c   d
first   10  12  13  23
second  23  12  10  33

In [85]:
type(df['col_1'])

pandas.core.series.Series

In [86]:
df[['col_1']]

        col_1
first      10
second     23

In [87]:
type(df)

pandas.core.frame.DataFrame

In [88]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [90]:
df.columns=['a','b','c',]
df

         a   b   c
first   10  12  13
second  23  12  10

In [91]:
df.a

first     10
second    23
Name: a, dtype: int64

In [92]:
df['d']=df.a + df.c
df

         a   b   c   d
first   10  12  13  23
second  23  12  10  33

In [93]:
df.loc['first']

a    10
b    12
c    13
d    23
Name: first, dtype: int64

In [94]:
df.iloc[0]

a    10
b    12
c    13
d    23
Name: first, dtype: int64

In [101]:
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10